.radio input[type=radio] {
    opacity: :100;
    filter: alpha(opacity=100);
    position: absolute;
    left: 25px;
}
.radio label:before {
    display: none;
}
.radio input[type=radio]:disabled + label:before {
    display: none;
}
.radio input[type=radio]:checked + label:before {
    display: none;
}
.checkbox input[type=checkbox]:disabled + label:before {
    display: none;
}
.checkbox label:before {
    display: none;
}
input[type=checkbox]:checked + label:before {
    display: none;
}
input[type=checkbox] {
    opacity: :100;
    filter: alpha(opacity=100);
    position: absolute;
    left: 25px;
}
div.form-tracker-connector {
    top:-70px;
    bottom: 130px;
}