<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="referrer" content="no-referrer">
    <title>电子签名</title>
    <script type="text/javascript" src="./vue.min.js"></script>
    <link rel="stylesheet" href="../Content/iview.css">
    <script type="text/javascript" src="./iview.min.js"></script>
    <script type="text/javascript" src="./axios.min.js"></script>
    <script type="text/javascript" src="./anysignWebInterface.js"></script>
    <script type="text/javascript" src="./math.js"></script>
    <link rel="stylesheet" href="./esignature.css">
</head>

<body>
    <div id="app" style="height:100%;">
        <div v-if="isLoading">
            <div class="background-loading">
            </div>
            <div class="loading-indicator">
            </div>
        </div>
        <template>
            <!-- 电子签名  -->
            <Card id="autographCard"
                style="width:80%;margin-left:auto;margin-right:auto;margin-top:10px;margin-bottom:60px;">
                <p slot="title">
                    <span class="tit-all">电子签名</span>
                </p>
                <Collapse v-model="panelValue">
                    <!-- 文档确认 -->
                    <Panel name="1">
                        <span class="tit tit1">文档确认</span><span class="tit-tips tit-tips1">（请阅读并勾选确认下列投保资料）</span>
                        <span class="tit-point tit-point1"></span>
                        <div slot="content" style="position:relative;">
                            <div class="statePop" v-show="documentState"></div>

                            <div style="position:absolute;bottom:0;left:108px;z-index:10;">
                                <i-button type="primary" style="marin-left:20px;" @click="timerAgain"
                                    v-show="timerAgainState">重新开始</i-button>
                            </div>
                            <checkbox-group id="wdqr" v-model="documentList">
                                <Row>
                                    <ul class="eSignature-list">
                                        <li>
                                            <Checkbox label="reminder" id="reminder" :disabled="!insure_state">
                                                <i-button v-if="insure_tips" type="primary" style="margin-left:10px;"
                                                    @click.stop="reminderInfo"> 投保提示书（未确认） </i-button>
                                                <i-button v-else type="primary" style="margin-left:10px;"
                                                    @click.stop="reminderInfo"> 投保提示书 </i-button>
                                                <div v-if="insure_tips"
                                                    style="position:relative;left:239px;top:-21px;width:160px;"><span
                                                        style="color:red;font-size:12px;width:160px;">请点击并阅读确认</span>
                                                </div>
                                            </Checkbox>
                                        </li>

                                        <!-- <li v-if="doubleShow">
                                            <Checkbox label="exemption" id="exemption">
                                                <i-button type="primary" style="margin-left:10px;"
                                                    @click.stop="exemptionHandle"> 免责条款说明书 </i-button>
                                            </Checkbox>
                                        </li> -->
                                    </ul>

                                </Row>

                            </checkbox-group>
                            <row style="margin-left:10px;margin-top:25px;">
                                <i-button type="primary" @click="confirmDocument" :disabled="agreeState">下一步</i-button>
                            </row>
                        </div>
                    </Panel>
                    <!-- 电子签名 -->
                    <Panel name="4">
                        <span class="tit" style="width:510px;">电子签名</span><span
                            class="tit-tips tit-tips1">（请客户确认并勾选以下声明后依次完成电子签名，字体需清晰完整）</span>
                        <span class="tit-point" style="left:510px;"></span>
                        <div slot="content">
                            <p v-if="isInsuredChild" class="dd-des">被保险人{{insuredChildName}}为未成年人,请投保人代为签署</p>
                            <checkbox-group v-model="confirmedSignStatementClientTypeList" v-for="(cli) in signCliInfo"
                                style="margin-top:15px;">
                                <row>
                                    <!-- 签署声明按客户身份逐一显示，并需要勾选确认，未勾选确认不能进行电子签名。未成年人无需显示签署声明 -->
                                    <Checkbox v-if="cli.linkTyp != 'G'" :label="cli.linkTyp" :disabled="cli.SignFileId">
                                        <span class="dd-des">
                                            {{getSignLinkTypDesc(cli.linkTyp)}}{{cli.cliNm}}声明：本人通过电子签名方式对以上文档亲自签署确认;
                                            本人在此处的签名样本可同时使用于前面所列示的所有投保文档。</span>
                                    </Checkbox>
                                </row>
                            </checkbox-group>
                            <div class="esign-box" v-for="cli in signCliInfo" style="position:relative;">
                                <div v-show="blockShowSign(eSignStatus,cli,confirmedSignStatementClientTypeList)"
                                    class="statePop"></div>
                                <row
                                    style="display: flex;width:100%;height:100%;justify-content: center; align-items: center;position:relative;">
                                    <div style="margin-right:10px;">
                                        <!-- 如果是监护人 则不显示[监护人:XXX] 而直接显示 [签名格式为 XXX XXX代] -->
                                        <span v-if="cli.linkTyp != 'G'" style="display:block;"
                                            @click="showSign(cli,cli.cliNum,cli.linkTyp,'dzqm')">{{getSignLinkTypDesc(cli.linkTyp)}}:{{cli.AboveSignDesc}}</span>
                                        <span v-else style="display:block;"
                                            @click="showSign(cli,cli.cliNum,cli.linkTyp,'dzqm')">签名格式为: </span>
                                        <span style="display:block;">{{cli.BottomSignDesc}}</span>
                                    </div>

                                    <img :src="cli.SignFileImage ? cli.SignFileImage : (str+qm)" v-show="cli.SignFileId"
                                        :id="setImgId('imgSign',cli.cliNum + cli.linkTyp)"
                                        style="max-height:60px;max-width:120px;" />
                                </row>
                            </div>
                        </div>
                    </Panel>
                </Collapse>
                <row style="text-align:center">
                    <i-button id="completeBtn" type="primary" @click="complete" :disabled="finishESign">递交投保</i-button>
                </row>
                <div style="height:60px; opacity: 0;"></div>

            </Card>
            <div id="system-form-dialog" style='display:none;'></div>

            <!-- 文档确认弹层 -->
            <Modal v-model="modalDocumentInfo" width="90%" :footer-hide="true" :closable="false">
                <p slot="header" style="color:#19be6b;text-align:center">
                    <Icon type="ios-information-circle"></Icon>
                    <span>{{modalDocTitle}}</span>
                </p>
                <div style="text-align:center;">
                    <div class="pop-tips" v-show="false">提示文案</div>
                    <Carousel v-if="modalDocumentInfo" :arrow="document.length > 1 ? 'always' : 'never'" dots="none">
                        <!-- <Carousel-Item v-for="url in document" :key="documentIndex"> -->
                        <Carousel-Item>
                            <div style="text-align:center">
                                <!-- <img id="pdfImg" style="width:100%;" :src="url" /> -->
                                <!-- 模拟pdf -->
                                <img id="pdfImg" style="width:100%;" src="./GetESignDocument.png" />
                            </div>
                        </Carousel-Item>
                    </Carousel>
                    <i-button :disabled="closeBtnState && doubleShow && (docName=='reminder' || docName=='declaration')"
                        @click="closePop(docName)" type="primary"
                        style="width:70px;position:absolute;right:25px;top:10px;">关闭</i-btutton>
                </div>
            </Modal>
            <!-- 60的分钟弹框  -->
            <Modal v-model="timeTipModal" width="77%">
                <p slot="header" style="color:#19be6b;text-align:center">
                    <span>时间提示</span>
                </p>
                <div style="max-height:60vh;overflow-y: auto; -webkit-overflow-scrolling: touch;">
                    <span>{{timeMsg}}</span>
                </div>
                <div slot="footer" style="text-align:center">
                    <i-button v-show="!(timeInfo.IsTimeOut == 'Y')" type="primary" size="large"
                        @click="flowGo(typeName,currentData.linkTyp,currentData.cliNum)">继续</i-button>
                    <i-button v-show="timeInfo.IsTimeOut == 'Y'" type="primary" size="large" @click="flowRestart">立即开始
                    </i-button>
                    <i-button v-show="timeInfo.IsTimeOut == 'Y'" type="cancel" size="large" @click="flowCancel">稍后继续
                    </i-button>
                </div>
            </Modal>
            <!-- alert弹框  -->
            <Modal v-model="alertState">
                <div style="margin-top:35px;margin-bottom:20px">{{alertMsg}}</div>
            </Modal>

            <Modal v-model="showInfoState" :footer-hide="false" :closable="false">
                <p slot="header" style="color:#19be6b">
                    <span>信息</span>
                </p>
                <div style="max-height:60vh;overflow-y: auto; -webkit-overflow-scrolling: touch;">
                    <p v-html='infoMsg'></p>
                </div>
                <div slot="footer" style="text-align:right">
                    <i-button type="primary" size="large" @click="showInfo">确认</i-button>
                </div>
            </Modal>
        </template>

    </div>
    <div>
        <div id="dialog" style="display:none;">
            <!-- 显示签名区域-->
            <div id="anysign_title" style="color:#333;display:block;margin-left:5px;text-align:left;color:#00A758;"
                width="100%" height="10%">请投保人<span style="font-size:20pt;"> 李 元 </span>签名</div>
            <div id="container" onmousedown="return false;" style="border-color:#00A758;">
                <canvas id="anysignCanvas" width="2"></canvas>
            </div>
            <div id="single_scrollbar" style="text-align:center;vertical-align:middle;width:100%;margin-top:10px;">
                <span id="single_scroll_text"> *滑动操作：</span>
                <input id="single_scrollbar_up" type="button" class="button orange" value="" />
                <input id="single_scrollbar_down" type="button" class="button orange" value="" />
            </div>
            <div id="btnContainerOuter" width="100%">
                <div id="btnContainerInner" style="text-align:center;font-size:5pt;width:100%">
                    <input id="btnOK" type="button" class="button orange" value="确 定" style="font-size:22pt"
                        onclick="sign_confirm();" />
                    <input id="btnClear" type="button" class="button orange" value="清 屏" style="font-size:22pt"
                        onclick="javascript:clear_canvas();">
                    <input id="btnCancel" type="button" class="button orange" value="取 消" style="font-size:22pt"
                        onclick="cancelSign();">
                </div>
            </div>
        </div>
        <input id="hideApplicationNumber" value="ESH495000000950" style="display:none;" />
    </div>
</body>
<script type="text/javascript" src="./exif.js"></script>
<script type="text/javascript" src="./jquery.datePicker.js"></script>
<script type="text/javascript" src="./eSignatureSH01.js"></script>

</html>